@charset "utf-8";

body{
    height: 100vh;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
}
.container{
    padding: 40px;
    background-color: #fb617c24;
    min-height: 100%; 
}

.flash_message{
    color: blue;
    background-color: skyblue;
    padding: 5px;
}

.error{
    color: red;
    background-color: pink;
    margin-bottom: 10px;
    padding: 5px;
    list-style-type: none;
}

.home{
    width: 10vw;
}

a{
    display: block;
    color: #222222;
    text-decoration: none;
    padding: 3px;
}
a:hover{
    color: red;
    border-bottom: solid 2px red;
    text-decoration: none;
    background-color: #e51e9533;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
a.home-link:hover{
    background-color: #fb616100;
    border-bottom: none;
}
label{
    font-weight: bold;
}
ul{
    padding-left: 0;
}

img#preview {
    padding-top: 40px;
}
small{
    float: right;
}
textarea{
    color: red;
}
.my_avatar{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /*height: auto;*/
    width: 25vw;
    height: 25vw;
}
.my_profile{
    list-style-type: none;
    padding-left: 10px;
}
.my_profile li {
    margin-top: 10px;
    border-bottom: solid 1px #eeeeee;
    padding: 12px;
    padding-left: 34px;
    border-left: solid 5px #999999;
}
.partner_avatar{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /*height: auto;*/
    width: 10vw;
    height: 10vw;
    display: block;
    margin: 0 auto;
    padding: 5px;
}
.login{
    color: red;
    font-size: 20px;
    margin-right: 5px;
}
table{
    background-color: white;
}
@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される */
    a:nth-child(2){
        margin-top: 20px;
    }
    a.btn.btn-primary.offset-sm-3.col-sm-2 {
        margin: 0 52px;
    }
    a.btn.btn-primary.offset-sm-2.col-sm-2 {
        margin: 20px 52px 0px 52px;
    }
}

/* https://www.seojuku.com/blog/responsive-mediaquery.html */
/*@media screen and (max-width: 1024px) { }*/
/*@media screen and (max-width: 896px) { }*/
/*@media screen and (max-width: 480px) { }*/

